	<style>
	  h1
	  {
		font-size: 30px;
		text-shadow:
			-1px -1px 0 #FFFFFF,
			1px -1px 0 #000000,
			-1px 1px 0 #000000,
			1px 1px 0 #000000;
	  }
      body 
	  {
        min-width: 300px;
		background-color: #FFCCCC;
		color: #FF0066;
		text-align: center;
		background-image: url("truthphoto.jpg");
		text-shadow:
			-1px -1px 0 #FFFFFF,
			1px -1px 0 #000000,
			-1px 1px 0 #000000,
			1px 1px 0 #000000;
	  }
	  #resultT
	  {
		font-size: 15px;
		text-shadow:
			-1px -1px 0 #FFFFFF,
			1px -1px 0 #000000,
			-1px 1px 0 #000000,
			1px 1px 0 #000000;
	  }
	  #truth
	  {
		background-color: #CCFFFF;
		color: #FF0066;
		border: 5px solid red;
		border-radius: 10px;
		font-weight: bold;
		font-size: 15px;
		text-shadow:
			-1px -1px 0 #000,
			1px -1px 0 #000,
			-1px 1px 0 #000,
			1px 1px 0 #000;
	  }
	  #dare
	  {
		background-color: #CCFFFF;
		color: #FF0066;
		border: 5px solid white;
		border-radius: 10px;
		font-weight: bold;
		font-size: 15px;
		text-shadow:
			-1px -1px 0 #000,
			1px -1px 0 #000,
			-1px 1px 0 #000,
			1px 1px 0 #000;
	  }	
    </style>